@media screen and (max-width: 479px)


/* reset.css*/
* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 150px;
}

/* header */
.header {
    height: 100px;
    background-color: #141f40;
}

/* main */
.main_left {
    height: 100px;
    background-color: #80bfa8;
}

.main_right {
    height: 100px;
    background-color: #ff9e6b;
    float:
}

.main_center {

}

.contents_top {
    height: 50px;
    background-color: #dbd400;
    
}

.contents_bottom {
    height: 100px;
    width: 150px;
    background-color: #0093b7;
}

.center_bottom {
    height: 100px;
    background-color: #8c2727;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* footer */
.footer {
    height: 100px;
    background-color: #d98d30;
}