/* reset.css*/
* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 400px;
}

/* header */
.header {
    height: 100px;
    background-color: #141f40;
}

/* main */
.main_left {
    height: 250px;
    width: 150px;
    background-color: #80bfa8;
    float: left;
}

.main_right {
    height: 150px;
    width: 100px;
    background-color: #ff9e6b;
    float: right;
}

.main_center {
    float: left;
}

.contents_top {
    height: 50px;
    width: 150px;
    background-color: #dbd400;
}

.contents_bottom {
    height: 100px;
    width: 150px;
    background-color: #0093b7;
}

.center_bottom {
    height: 100px;
    width: 250px;
    background-color: #8c2727;
    float: left;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* footer */
.footer {
    height: 100px;
    background-color: #d98d30;
}